

#main-header{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 10px;
    align-items: center;
    

    .logo{
        color: darkgrey;
    }
    
}


 

